<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Apps and the City - </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/css/style.css">


  <link rel="shortcut icon" href="/img/favicon.png" type="image/png" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript"
    src="https://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
  var map;
var supermarkt = new google.maps.LatLng(52.540403, 13.394625);

function initialize() {	

  var stylez = [
    { "featureType": "road.arterial", "elementType": "geometry.stroke", "stylers": [ { "color": "#b4b4b4" } ] },{ "featureType": "road.arterial", "elementType": "geometry.fill", "stylers": [ { "color": "#ffffff" } ] },{ "featureType": "road.arterial", "elementType": "labels.text.stroke", "stylers": [ { "weight": 0 }, { "color": "#808080" }, { "visibility": "off" } ] },{ "featureType": "road.arterial", "elementType": "labels.text.fill", "stylers": [ { "color": "#636363" } ] },{ "featureType": "poi.park", "elementType": "geometry.fill", "stylers": [ { "color": "#d8e3dd" } ] },{ "featureType": "poi.attraction", "stylers": [ { "color": "#808080" }, { "visibility": "off" } ] },{ "featureType": "poi.sports_complex", "stylers": [ { "color": "#808080" }, { "visibility": "off" } ] }
  ];

  var mapOptions = {
    zoom: 16,
    center: supermarkt,
	disableDefaultUI: true,
	zoomControl: true,
    scrollwheel: false,
    mapTypeControlOptions: {
       mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'Apps & the City']
    }
  };
  firstmap = new google.maps.Map(document.getElementById("map_canvas"),
      mapOptions);
	  
	var point = new google.maps.LatLng (52.540403, 13.394625);
	var marker = new google.maps.Marker ({
		position: point,
		title: 'SUPERMARKT - Apps & the City',
		map: firstmap,
      icon: 'img/google_marker.png'  
		})

  var styledMapOptions = {
      name: "Apps & the City"
  }

  var jayzMapType = new google.maps.StyledMapType(
      stylez, styledMapOptions);

  firstmap.mapTypes.set('Apps & the City', jayzMapType);
  firstmap.setMapTypeId('Apps & the City');
}


</script>
</head>
<body onload="initialize()">
  <div id="wrapper" class="container">
    <header id="header" class="container">
    <a href="/"><img src="/img/logo.png" alt="Apps and the City - Open Transport"/></a>
      <!--<h1>
        <strong>Apps</strong>
        &amp;&#8203;the
        <strong>city</strong>
      </h1>
      <h2>Open Transport</h2>-->
      <ul class="social-media">
        <!--<li>
          <a href="https://www.facebook.com/pages/AppsandtheCity/392520327488168">Facebook</a>
        </li>
        -->
        <li>
          <a href="https://twitter.com/OpenVBB">Twitter</a>
        </li>
      </ul>
      <p id="location-header">
        29. November 2012 | <a href="http://www.supermarkt-berlin.net/">Supermarkt Berlin</a>
      </p>
    </header>

    <div class="span12">
      <div class="alert" style="text-align:center; background-color: rgb(255, 215, 0); color: black;">
        +++ Aktuelles: Am 22. März gab es eine App Präsentation mit anschließendem Daten-Workshop beim VBB.<br>
         <a style="color: red;" href="http://okfn.de/2013/04/apps-and-the-city-prasentation-daten-workshop/">Hier geht es zu einem Blogpost</a> des Events. Um auf dem Laufenden über weitere Entwicklungen und Treffen zu bleiben bitte auf folgender
         <a style="color: red;" href="http://lists.okfn.org/mailman/listinfo/open-data-nahverkehr">Mailingliste</a> eintragen: http://lists.okfn.org/mailman/listinfo/open-data-nahverkehr +++</a>
      </div>
    </div>

    <div class="navbar aatc-container">
      <div class="navbar-inner">
        <ul class="nav span12">
          <li><a href="/#beispiele">Beispiele</a></li>
          <li><a href="/#entwicklertag">Entwicklertag</a></li>
          <li><a href="/#argumente">Argumente</a></li>
          <li><a href="/daten">Daten</a></li>
          <li><a href="/apps">Apps</a></li>
          <li><a href="/media">Media</a></li>
        </ul>
      </div>
      <hr/>
    </div>

    <div class="aatc-container">
      <div class="span12">
      {{ content }}

      <footer id="footer">
        <div class="row">
          <h5 class="span3" id="supporter">Unterstützt von</h5>
        </div>
        <div class="row border-row">
          <div class="span12" style="padding-top:13px; padding-bottom:15px;">
            
                <a href="http://www.vbb.de/">
                  <img src="/img/logo_01_vbb.png" alt="VBB" style="margin-left:28px;">
                </a>
              
                <a href="http://www.berlin.de/projektzukunft/">
                  <img src="/img/logo_02_projekt-zukunft-berlin.png" alt="Projekt Zukunft" style="margin-left:28px;">
                </a>
              
                <a href="https://www.berlinonline.de/">
                  <img src="/img/logo_03_berlinonline.png" alt="Berlin Online" style="margin-left:28px;">
                </a>
              
                <a href="http://www.fh-potsdam.de/">
                  <img src="/img/logo_04_fhp.png" alt="FH Potsdam" style="margin-left:28px;">
                </a>
            
             
                <a href="http://www.okfn.de/">
                  <img src="/img/logo_05_okf.png" alt="Open Knowledge Foundation Deutschland" style="margin-left:28px;">
                </a>
            
          
              
              
              
            <ul id="footer-menu">
              <li>
                <a href="mailto:julia.kloiber@okfn.org">Kontakt</a>
              </li>
              <li>
                <a href="http://lists.okfn.org/mailman/listinfo/open-data-nahverkehr">Mailingliste</a>
              </li>
              <li>
                <a href="mailto:julia.kloiber@okfn.org">Sponsor werden</a>
              </li>
              <li>
                <a href="https://github.com/okfde/appsandthecity">Auf GitHub forken</a>
              </li>
            </ul>
            <p id="footer-text">
              Impressum:<br/>
              Open Knowledge Foundation Deutschland e.V.<br/>
              Brunnenstr. 69, 13355 Berlin<br/><br/>
              Design | <a href="http://anjagollor.de/">Anja Gollor</a> + <a href="http://sebastianpreusse.com/">Sebastian Preusse</a>
            </p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>
