<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Apps and the City - </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="css/style.css">


  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="img/favicon.png" type="image/png" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
  <div id="wrapper" class="container">
    <header id="header" class="container">
      <h1>
        <strong>Apps</strong>
        &amp;&#8203;the
        <strong>city</strong>
      </h1>
      <h2>Open Transport</h2>
      <ul class="social-media">
        <li>
          <a href="https://www.facebook.com/pages/AppsandtheCity/392520327488168">Facebook</a>
        </li>
        <li>
          <a href="https://twitter.com/AppsandtheCity">Twitter</a>
        </li>
      </ul>
    </header>
    <div class="navbar aatc-container">
      <div class="navbar-inner">
        <ul class="nav span12">
          <li><a href="#beispiele">Beispiele</a></li>
          <li><a href="#entwicklertag">Entwicklertag</a></li>
          <li><a href="#argumente">Argumente</a></li>
          <li class="special-nav"><a class="register" href="#">Anmelden</a></li>
        </ul>
      </div>
      <hr/>
    </div>

    <div class="aatc-container">
      <div class="span12">
      {{ content }}

      <footer id="footer">
        <div class="row">
          <h5 class="span3" id="supporter">Unterstützt von</h5>
        </div>
        <div class="row border-row">
          <div class="span12">
            <ul>
              <li>
                <a href="http://www.vbb.de/">
                  <img src="img/logos/vbb.jpg" alt="VBB">
                </a>
              </li>
              <li>
                <a href="http://www.berlin.de/projektzukunft/">
                  <img src="img/logos/projektzukunft.jpg" alt="Projekt Zukunft">
                </a>
              </li>
              <li>
                <a href="https://www.berlinonline.de/">
                  <img src="img/logos/berlinonline.jpg" alt="Berlin Online">
                </a>
              </li>
              <li>
                <a href="http://www.fh-potsdam.de/">
                  <img src="img/logos/fhp.jpg" alt="FH Potsdam">
                </a>
              </li>
              <li>
                <a href="http://www.okfn.de/">
                  <img src="img/logos/okfnde.png" alt="Open Knowledge Foundation Deutschland">
                </a>
              </li>
            </ul>
            <ul id="footer-menu">
              <li>
                <a href="">Kontakt</a>
              </li>
              <li>
                <a href="http://lists.okfn.org/mailman/listinfo/open-data-nahverkehr">Mailingliste</a>
              </li>
              <li>
                <a href="">Sponsor werden</a>
              </li>
              <li>
                <a href="https://github.com/okfde/appsandthecity">Auf GitHub forken</a>
              </li>
            </ul>
            <p id="footer-text">
              Impressum:<br/>
              Open Knowledge Foundation Deutschland e.V.<br/>
              Brunnenstr. 69, 13355 Berlin
            </p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>